In [1]:
from bs4 import BeautifulSoup
import  requests
import pandas as pd

## 1) Write a python program to display all the header tags from wikipedia.org.

In [ ]:
url = requests.get('https://www.wikipedia.org/')
soup = BeautifulSoup(url.content)
soup

In [3]:
header_tag=[]
for i in soup.find_all(['h1','h2','h3']):
    header_tag.append(i)

In [4]:
header_tag

[<h1 class="central-textlogo-wrapper">
 <span class="central-textlogo__image sprite svg-Wikipedia_wordmark">
 Wikipedia
 </span>
 <strong class="jsl10n localized-slogan" data-jsl10n="portal.slogan">The Free Encyclopedia</strong>
 </h1>,
 <h2 class="bookshelf-container">
 <span class="bookshelf">
 <span class="text">
 <bdi dir="ltr">
 1 000 000+
 </bdi>
 <span class="jsl10n" data-jsl10n="entries">
 articles
 </span>
 </span>
 </span>
 </h2>,
 <h2 class="bookshelf-container">
 <span class="bookshelf">
 <span class="text">
 <bdi dir="ltr">
 100 000+
 </bdi>
 <span class="jsl10n" data-jsl10n="portal.entries">
 articles
 </span>
 </span>
 </span>
 </h2>,
 <h2 class="bookshelf-container">
 <span class="bookshelf">
 <span class="text">
 <bdi dir="ltr">
 10 000+
 </bdi>
 <span class="jsl10n" data-jsl10n="portal.entries">
 articles
 </span>
 </span>
 </span>
 </h2>,
 <h2 class="bookshelf-container">
 <span class="bookshelf">
 <span class="text">
 <bdi dir="ltr">
 1 000+
 </bdi>
 <span class="jsl10n" data-jsl10n="portal.entries">
 articles
 </span>
 </span>
 </span>
 </h2>,
 <h2 class="bookshelf-container">
 <span class="bookshelf">
 <span class="text">
 <bdi dir="ltr">
 100+
 </bdi>
 <span class="jsl10n" data-jsl10n="portal.entries">
 articles
 </span>
 </span>
 </span>
 </h2>]

### 2)Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)and make data frame#

In [5]:
page=requests.get('https://www.imdb.com/list/ls091520106/')
soup=BeautifulSoup(page.content)

### Scraping first Movie Name

In [ ]:
first_movie=soup.find('h3',class_='lister-item-header')
first_movie.text

In [ ]:
first_movie.text.split('\n')

In [8]:
m=first_movie.text.split('\n')[2]
y=first_movie.text.split('\n')[3]
print("Scarpped First Movie Name:",m)
print("Scrapped first movie Year:",y)

Scarpped First Movie Name: The Shawshank Redemption
Scrapped first movie Year: (1994)

### Scrapping Movie and year list

In [10]:
movies=[]
year=[]
for i in soup.find_all('h3',class_='lister-item-header'):
    movies.append(i.text.split('\n')[2])
    year.append(i.text.split('\n')[3])

###  Year List

In [ ]:
year

### First Rank Scrapping

In [ ]:
first_rating=soup.find('div',class_='ipl-rating-star small')
first_rating.text.split('\n')[8]

In [ ]:
ratings=[]
for i in soup.find_all('div',class_='ipl-rating-star small'):
    ratings.append(i.text.split('\n')[8])

In [13]:
df1=pd.DataFrame({'Movie Name':movies,
                 'Rating': ratings,
                 'Year of Release':year})
df1

                             Movie Name Rating Year of Release
0              The Shawshank Redemption    9.3          (1994)
1                         The Godfather    9.2          (1972)
2                 The Godfather Part II      9          (1974)
3                       The Dark Knight      9          (2008)
4                          12 Angry Men      9          (1957)
..                                  ...    ...             ...
95                   North by Northwest    8.3          (1959)
96                   A Clockwork Orange    8.3          (1971)
97                               Snatch    8.2          (2000)
98  Le fabuleux destin d'Amélie Poulain    8.3          (2001)
99                              The Kid    8.3          (1921)

[100 rows x 3 columns]

## 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year ofrelease) and make data frame.

In [14]:
webpage=requests.get('https://www.imdb.com/list/ls056092300/?sort=user_rating,desc&st_dt=&mode=detail&page=1',verify=False)

soup1=BeautifulSoup(webpage.content)

C:\Users\hp\anaconda3\lib\site-packages\urllib3\connectionpool.py:1043: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.imdb.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

#### Scraping first Movie Name

In [ ]:
first_movie=soup1.find('h3',class_='lister-item-header')
first_movie.text.split('\n')[2]

### Scarpping first year

In [ ]:
first_movie.text.split('\n')[3]

In [16]:
movie_list=[]
year_list=[]
for i in soup1.find_all('h3',class_='lister-item-header'):
    movie_list.append(i.text.split('\n')[2])
    year_list.append(i.text.split('\n')[3])

### SCrapping rating

In [ ]:
first_rank=soup.find('div',class_="ipl-rating-star small")
first_rank.text.split('\n')[8]

In [19]:
rank_list=[]
for i in soup.find_all('div',class_="ipl-rating-star small"):
    rank_list.append(i.text.split('\n')[8])

### DataFrame for scarpped data

In [20]:
df2=pd.DataFrame({'Movie Title':movie_list,
                 'Release Year':year_list,
                 'Ranking':rank_list})
df2

              Movie Title Release Year Ranking
0         Sagara Sangamam       (1983)     9.3
1   Goopy Gyne Bagha Byne       (1969)     9.2
2                 Nayakan       (1987)       9
3         Pushpaka Vimana       (1987)       9
4             Apur Sansar       (1959)       9
..                    ...          ...     ...
95                  Lamhe       (1991)     8.3
96                 Vanaja       (2006)     8.3
97               Enthiran       (2010)     8.2
98                Chandni       (1989)     8.3
99           Neecha Nagar       (1946)     8.3

[100 rows x 3 columns]

## 4)Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm

In [21]:
webpage2=requests.get('https://presidentofindia.nic.in/former-presidents.htm')
soup2=BeautifulSoup(webpage2.content)

### Scrapping First Name

In [ ]:
first_prsident_name=soup2.find('div',class_='presidentListing')
first_prsident_name.text

In [ ]:
first_prsident_name.text.split('\n')

In [ ]:
pn=first_prsident_name.text.split('(')[0]
pn.split('\n')[1]

### First Term of office

In [ ]:
first_term=first_prsident_name.text.split(':')[1]
first_term.split('\n')[0]

In [24]:
former_president=[]

for i in soup2.find_all('div',class_='presidentListing'):
    t=(i.text.split('\n')[1])
    former_president.append(t.split("(")[0])

### Term of Office

In [25]:
term_of_office=[]
for i in soup2.find_all('div',class_='presidentListing'):
    to=(i.text.split(':')[1])
    term_of_office.append(to.split("\n")[0])

In [26]:
df3=pd.DataFrame({'Former President Name':former_president,
                  'Term Of Office': term_of_office
                })

In [27]:
df3

,Former President Name,Term Of Office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

## 5)Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:¶


### a)Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

In [28]:
wp=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup6=BeautifulSoup(wp.content)

### Team Scrapping

In [ ]:
ft=soup6.find('td',class_='rankings-block__banner--team-name').text.split("\n")[2]
ft

In [31]:
team10=[]
for i in soup6.find_all('span',class_="u-hide-phablet"):
    team10.append(i.text)

### Scrapping matches

In [33]:
fm=soup6.find('td',class_='rankings-block__banner--matches').text

In [35]:
matches10=[]
for i in soup6.find_all('tr',class_='table-body'):
    matches10.append(i.text.split('\n')[7])
matches10.insert(0,fm)

### Scrapping points

In [36]:
fp1=soup6.find('td',class_='rankings-block__banner--points').text

In [37]:
points10=[]
for i in soup6.find_all('tr',class_='table-body'):
    points10.append(i.text.split('\n')[8])
points10.insert(0,fp1)

## Scrapping Rating

In [38]:
fr=soup6.find('td',class_='rankings-block__banner--rating u-text-right').text

In [39]:
rating10=[]

for i in soup6.find_all('tr',class_='table-body'):
    rating10.append(i.text.split('\n')[9])
rating10.insert(0,fr)

In [40]:
newrating10=[s.strip() for s in rating10]

### Scrapped DataFrame

In [41]:
men_odi=pd.DataFrame({'Team':team10[0:10],
                     'Matches':matches10[0:10],
                     'Points':points10[0:10],
                     'Rank':newrating10[0:10]})

men_odi

           Team Matches Points Rank
0   New Zealand      26  3,045  117
1       England      30  3,400  113
2     Australia      32  3,572  112
3         India      41  4,515  110
4      Pakistan      25  2,649  106
5  South Africa      24  2,392  100
6    Bangladesh      33  3,129   95
7     Sri Lanka      34  2,976   88
8   Afghanistan      20  1,419   71
9   West Indies      41  2,902   71

### b)Top 10 ODI Batsmen along with the records of their team and rating.

In [42]:
wp1=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
soup7=BeautifulSoup(wp1.content)

## Batsmen Scrapping

In [43]:
fb=(soup7.find('div',class_='rankings-block__banner--name').text)

In [44]:
batsmen10=[]
for i in soup7.find_all('td',class_='table-body__cell name'):
    batsmen10.append(i.text.split('\n')[1])
    
batsmen10.insert(0,fb)

### Scrapping team name

In [46]:
bt=soup7.find('div',class_='rankings-block__banner--nationality').text.split('\n')[2]

In [47]:
batsmenteam10=[]
for i in soup7.find_all('span',class_='table-body__logo-text'):
    batsmenteam10.append(i.text)
batsmenteam10.insert(0,bt)

## Scrapping Rating

In [48]:
fbr=soup7.find('div',class_='rankings-block__banner--rating').text

In [49]:
batsmenrating10=[]
for i in soup7.find_all('td',class_='table-body__cell u-text-right rating'):
    batsmenrating10.append(i.text)
batsmenrating10.insert(0,fbr)

### DataFrame of scrapped data

In [50]:
odi_batsmen=pd.DataFrame({'Player':batsmen10[0:10],
                        'Team':batsmenteam10[0:10],
                         'Rating':batsmenrating10[0:10]})
odi_batsmen

                  Player Team Rating
0             Babar Azam  PAK    891
1  Rassie van der Dussen   SA    766
2            Imam-ul-Haq  PAK    764
3        Quinton de Kock   SA    759
4           David Warner  AUS    747
5            Virat Kohli  IND    726
6            Steve Smith  AUS    719
7           Rohit Sharma  IND    715
8         Jonny Bairstow  ENG    710
9           Fakhar Zaman  PAK    695

###  c) Top 10 ODI bowlers along with the records of their team and rating# #

In [51]:
wp2=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

In [52]:
soup8=BeautifulSoup(wp2.content)

### Scrapping Bowler

In [53]:
fb=soup8.find('div',class_='rankings-block__banner--name-large').text

In [54]:
bowler10=[]
for i in soup8.find_all('td',class_='table-body__cell rankings-table__name name'):
    bowler10.append(i.text.split('\n')[1])
bowler10.insert(0,fb)

## Scraping Team

In [55]:
bt=soup8.find('div',class_='rankings-block__banner--nationality').text.split('\n')[2]

In [56]:
bowlerteam10=[]
for i in soup8.find_all('span',class_='table-body__logo-text'):
    bowlerteam10.append(i.text)
bowlerteam10.insert(0,bt)

### Scraping Rating

In [58]:
frate=soup8.find('div',class_='rankings-block__banner--rating').text

In [59]:
bowlerrating10=[]
for i in soup8.find_all('td',class_='table-body__cell rating'):
    bowlerrating10.append(i.text)
bowlerrating10.insert(0,frate)

### Bowler DataFrame

In [60]:
bowlertop10=pd.DataFrame({'Bowler Name':bowler10[0:10],
                         'Team':bowlerteam10[0:10],
                          'Ratimg':bowlerrating10[0:10]
                         })
bowlertop10

         Bowler Name Team Ratimg
0        Trent Boult   NZ    744
1     Josh Hazlewood  AUS    727
2     Mitchell Starc  AUS    665
3        Rashid Khan  AFG    659
4         Matt Henry   NZ    656
5         Adam Zampa  AUS    655
6     Shaheen Afridi  PAK    654
7    Shakib Al Hasan  BAN    652
8  Mustafizur Rahman  BAN    638
9   Mujeeb Ur Rahman  AFG    637

##  6)Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

### a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating

In [61]:
webpage3=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")

In [62]:
soup3=BeautifulSoup(webpage3.content)

### First Team

In [63]:
first_team=soup3.find("span",class_='u-hide-phablet').text

#### List of Teams

In [64]:
team=[]
for i in soup3.find_all('span',class_='u-hide-phablet'):
    team.append(i.text)

### First match

In [67]:
first_match=soup3.find('td',class_='rankings-block__banner--matches').text

### List of Matches

In [69]:
matches=[]
for i in soup3.find_all('tr',class_='table-body'):
    matches.append(i.text.split("\n")[7])


matches.insert(0,first_match)

### FIrst Point

In [70]:
first_point=soup3.find('td',class_='rankings-block__banner--points')

### List of Points

In [71]:
points=[]
for i in soup3.find_all('tr',class_='table-body'):
    points.append(i.text.split("\n")[8])
points.insert(0,first_point.text)

### First Rating

In [72]:
first_rate=soup3.find('td',class_='rankings-block__banner--rating u-text-right')
r=first_rate.text.split("\n")[1]

### List of Ratings

In [75]:
rating=[]
for i in soup3.find_all('tr',class_='table-body'):
    rating.append(i.text.split("\n")[9])

In [76]:
rating.insert(0,r)

In [77]:
newratings=[s.strip() for s in rating]

### DataFrame of Scrapped Data

In [78]:
df4=pd.DataFrame({'Team Name':team[0:10],
             'Matches':matches[0:10],
             'Points':points[0:10],
             'Ratings':newratings[0:10]})

In [79]:
df4

      Team Name Matches Points Ratings
0     Australia      18  3,061     170
1       England      28  3,342     119
2  South Africa      26  3,098     119
3         India      27  2,820     104
4   New Zealand      25  2,553     102
5   West Indies      27  2,535      94
6    Bangladesh      13    983      76
7      Thailand       8    572      72
8      Pakistan      24  1,519      63
9     Sri Lanka       8    353      44

## b)Top 10 ODI Batsmen along with the records of their team and rating.

In [80]:
batsman_url=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
soup4=BeautifulSoup(batsman_url.content)

### #1 Playername

In [81]:
top1=soup4.find('div',class_='rankings-block__banner--name')
t=top1.text

### odi women player list

In [82]:
women_player_list=[]
for i in soup4.find_all('td',class_='table-body__cell name'):
    women_player_list.append(i.text.split('\n')[1])
    
women_player_list.insert(0,t)

### team

In [83]:
team1=soup4.find('div',class_='rankings-block__banner--nationality')
n=team1.text.split("\n")[2]

In [84]:
nation=[]
for i in soup4.find_all('span',class_='table-body__logo-text'):
                        nation.append(i.text)
nation.insert(0,n)

### Rating

In [85]:
r=team1.text.split("\n")[3]

In [86]:
player_rating=[]
for i in soup4.find_all('td',class_='table-body__cell u-text-right rating'):
    player_rating.append(i.text)
player_rating.insert(0,r)    

player_rating1=[s.strip() for s in player_rating]

### ODI women player DataFrame

In [87]:
df5=pd.DataFrame({'Player Name':women_player_list[0:10],
                 'Team':nation[0:10],
                 'Rating':player_rating1[0:10]})

In [88]:
df5

           Player Name Team Rating
0         Alyssa Healy  AUS    785
1          Beth Mooney  AUS    749
2      Laura Wolvaardt   SA    732
3       Natalie Sciver  ENG    731
4     Harmanpreet Kaur  IND    716
5      Smriti Mandhana  IND    714
6          Meg Lanning  AUS    710
7       Rachael Haynes  AUS    701
8  Chamari Athapaththu   SL    655
9         Ellyse Perry  AUS    642

## c)Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [89]:
odi=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
soup5=BeautifulSoup(odi.content)

In [90]:
first_all_runder= soup5.find('div',class_='rankings-block__banner--name-large')
a=first_all_runder.text

### List of all Rounder

In [91]:
all_rounder=[]
for i in soup5.find_all('td',class_='table-body__cell rankings-table__name name'):
    all_rounder.append(i.text.split("\n")[1])
       
all_rounder.insert(0,a)

### Team scrapping

In [92]:
team1=soup5.find('div',class_='rankings-block__banner--nationality')
aus=team1.text.split('\n')[2]

In [93]:
teams=[]
for i in soup5.find_all('span',class_='table-body__logo-text'):
    teams.append(i.text)
teams.insert(0,aus)

### Ranking Scrapping

In [94]:
rank1=soup5.find('div',class_='rankings-block__banner--rating')
rank=rank1.text

In [95]:
all_rounder_rating=[]
for i in soup5.find_all('td',class_='table-body__cell rating'):
    all_rounder_rating.append(i.text)
    
all_rounder_rating.insert(0,rank)

### All Rounder DataFrame

In [96]:
all_rounder_df=pd.DataFrame({'Player Name':all_rounder[0:10],
                             'Team':teams[0:10],
                            'Rating':all_rounder_rating[0:10]
                            })

In [97]:
all_rounder_df

         Player Name Team Rating
0       Ellyse Perry  AUS    374
1    Hayley Matthews   WI    373
2     Natalie Sciver  ENG    371
3     Marizanne Kapp   SA    349
4        Amelia Kerr   NZ    336
5      Deepti Sharma  IND    322
6   Ashleigh Gardner  AUS    270
7      Jess Jonassen  AUS    246
8     Jhulan Goswami  IND    214
9  Sophie Ecclestone  ENG    205

## 7)Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :

### i) Headline

In [98]:
news=requests.get('https://www.cnbc.com/world/?region=world')
soup9=BeautifulSoup(news.text)

### Headline scrapping

In [99]:
headlines=[]
for i in soup9.find_all('a',class_='LatestNews-headline'):
    headlines.append(i.text)

### ii)Time

In [100]:
time=soup9.find('span',class_='LatestNews-wrapper').text

In [101]:
time = []
for t in soup9.find_all('span',class_='LatestNews-wrapper'):
    time.append(t.text)

## iii)News Link

In [102]:
newslink=[]
for link in soup9.find_all('a',class_='LatestNews-headline'):
    newslink.append(link.get('href'))

In [103]:
print(len(headlines),len(time),len(newslink))

30 30 30

### DataFrame of scrapped Data

In [104]:
news_df=pd.DataFrame({'Headline':headlines,
                     'Time':time,
                     'News Link':newslink})
news_df

,Headline,Time,News Link
0,"As China reopens and data surprises, economist...",45 Min Ago,https://www.cnbc.com/2023/01/16/as-china-reope...
1,Soccer star Son Heung-min gives his top 3 tips...,1 Hour Ago,https://www.cnbc.com/2023/01/16/soccer-star-so...
2,IMF says fragmentation could cost global econo...,2 Hours Ago,https://www.cnbc.com/2023/01/16/imf-says-fragm...
3,These health care stocks are expected to rally...,2 Hours Ago,https://www.cnbc.com/2023/01/16/these-health-c...
4,"Earnings playbook: Netflix, Goldman Sachs head...",2 Hours Ago,https://www.cnbc.com/2023/01/16/earnings-playb...
5,Russian gas will return to Europe as people 'f...,2 Hours Ago,https://www.cnbc.com/2023/01/16/russian-gas-wi...
6,Richest 1% amassed almost two-thirds of new we...,3 Hours Ago,https://www.cnbc.com/2023/01/16/richest-1perce...
7,Bank of Japan could announce major policy shif...,4 Hours Ago,https://www.cnbc.com/2023/01/16/bofa-says-bank...
8,German Defense Minister Christine Lambrecht re...,4 Hours Ago,https://www.cnbc.com/2023/01/16/german-defense...
9,Putin says everything's going to plan in Ukrai...,5 Hours Ago,https://www.cnbc.com/2023/01/16/ukraine-war-li...
10,'Green' offices in London are over 25% more ex...,7 Hours Ago,https://www.cnbc.com/2023/01/16/londons-green-...
11,Time to set yearly work goals? Here’s how to p...,7 Hours Ago,https://www.cnbc.com/2023/01/16/time-for-yearl...
12,European markets inch higher; World Economic F...,8 Hours Ago,https://www.cnbc.com/2023/01/16/european-marke...
13,"India's wedding season is here, but it's no lo...",9 Hours Ago,https://www.cnbc.com/2023/01/16/indian-wedding...
14,Analysts love these 12 cheap stocks — and give...,10 Hours Ago,https://www.cnbc.com/2023/01/16/analysts-love-...
15,Fund manager names two U.S. stocks he thinks m...,12 Hours Ago,https://www.cnbc.com/2023/01/16/fund-manager-n...
16,Want a Tesla alternative? Analysts and fund ma...,12 Hours Ago,https://www.cnbc.com/2023/01/16/want-a-tesla-a...
17,Shenzhen stocks lead gains in Asia-Pacific on ...,14 Hours Ago,https://www.cnbc.com/2023/01/16/asia-pacific-u...
18,"Scaramucci sees bitcoin at $50,000 to $100,000...",14 Hours Ago,https://www.cnbc.com/2023/01/16/bitcoin-price-...
19,FAA launches investigation after two planes ne...,19 Hours Ago,https://www.cnbc.com/2023/01/15/faa-launches-i...
20,Open enrollment for 2023 health coverage throu...,20 Hours Ago,https://www.cnbc.com/2023/01/15/open-enrollmen...
21,Self-made millionaire: 3 habits to start in yo...,23 Hours Ago,https://www.cnbc.com/2023/01/15/self-made-mill...
22,Want to sound more assertive? Ditch these 4 ph...,23 Hours Ago,https://www.cnbc.com/2023/01/15/want-to-sound-...
23,"The big risk in the most-popular, and aging, b...",23 Hours Ago,https://www.cnbc.com/2023/01/15/the-most-popul...
24,State-run auto-IRA programs continue growing a...,"January 15, 2023",https://www.cnbc.com/2023/01/15/state-run-auto...
25,Food fraud secretly infiltrates America. Here'...,"January 15, 2023",https://www.cnbc.com/2023/01/15/food-fraud-sec...
26,10 auto industry predictions for investors to ...,"January 15, 2023",https://www.cnbc.com/2023/01/15/ten-auto-indus...
27,Mark Cuban on the company that made him rich: ...,"January 15, 2023",https://www.cnbc.com/2023/01/15/mark-cuban-on-...
28,Wall Street's favorite retail stocks include A...,"January 15, 2023",https://www.cnbc.com/2023/01/15/wall-streets-f...
29,A busy movie calendar will lead to a 15% jump ...,"January 15, 2023",https://www.cnbc.com/2023/01/15/a-busier-movie...

## 8)Write a python program to scrape the details of most downloaded articles from AI in last 90 days.
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
### Scrap the below mentioned details:

### i)Paper Title

In [105]:
articles=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
soup10=BeautifulSoup(articles.content)

### Scrapping Paper Title

In [106]:
paper_title=[]
for title in soup10.find_all('h2',class_='sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg'):
    paper_title.append(title.text)

### ii)Authors

In [107]:
authors=[]
for a in soup10.find_all('span',class_='sc-1w3fpd7-0 dnCnAO'):
    authors.append(a.text.split('and')[0])

### iii)Published Date

In [108]:
published_date=[]
for date in soup10.find_all('span',class_='sc-1thf9ly-2 dvggWt'):
    published_date.append(date.text)

### iv) Paper URL

In [109]:
paper_url=[]
for url in soup10.find_all('a',class_='sc-5smygv-0 fIXTHm'):
    paper_url.append(url.get('href'))

In [110]:
print(len(paper_title),len(authors),len(published_date),len(paper_url))

25 25 25 25

### DataFrame of most downloaded articles on AI

In [111]:
Ai_articles=pd.DataFrame({'Papre Title':paper_title,
                         'Authors':authors,
                         'Published Date': published_date,
                         'Paper Url':paper_url})

In [112]:
Ai_articles

,Papre Title,Authors,Published Date,Paper Url
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N.",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løl",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

## 9) Write a python program to scrape mentioned details from dineout.co.in :

In [113]:
restaurant_link=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
soup11=BeautifulSoup(restaurant_link.content)

### i) Restaurant name

In [114]:
restaurant=[]
for name in soup11.find_all('a',class_='restnt-name ellipsis'):
    restaurant.append(name.text)

### ii)Cuisine

In [115]:
cuisine=[]
for dish in soup11.find_all('span',class_='double-line-ellipsis'):
    cuisine.append(dish.text.split('|')[1])

### iii)Location

In [116]:
location=[]
for loc in soup11.find_all('div',class_='restnt-loc ellipsis'):
    location.append(loc.text)

### iv) Ratings

In [117]:
res_ratings=[]
for rate in soup11.find_all('div',class_='restnt-rating rating-4'):
    res_ratings.append(rate.text)

### v) Image URL

In [118]:
image=[]
for url in soup11.find_all('img',class_='no-img'):
    image.append(url.get('data-src'))

In [119]:
print(len(restaurant),len(cuisine),len(location),len(res_ratings),len(image))

9 9 9 9 9

### Restaurant DataFrame

In [120]:
restuarant_df=pd.DataFrame({'Restaurant Name':restaurant,
                           'Cuisine':cuisine,
                           'Location':location,
                           'Rating':res_ratings,
                           'Image Url':image})

In [121]:
restuarant_df

,Restaurant Name,Cuisine,Location,Rating,Image Url
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.6,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...