In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

### 1) Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [2]:
driver=webdriver.Chrome(r'chromedriver.exe')
driver.maximize_window()

In [107]:
#1First get the webpage https://www.naukri.com
driver.get("https://www.naukri.com")

In [108]:
#2)Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
designation=driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys("Data Analyst")

In [109]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

#3 Then click the searchbutton.
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [12]:
#4Then scrape the data for the first 10 jobs results you get.

In [111]:
job_title=[]
job_loc=[]
comp_name=[]
experience_req=[]

In [112]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [113]:
#job location
loc_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in loc_tag[0:10]:
    location=i.text
    job_loc.append(location)

In [114]:
#company Name
comp_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in comp_tag[0:10]:
    comp=i.text
    comp_name.append(comp)

In [ ]:
#Exp 

exp_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp_tag[0:10]:
    exp=i.text
    experience_req.append(exp)

In [131]:
print(len(job_title),len(job_loc),len(comp_name),len(experience_req))

10 10 10 10

In [133]:
data_df=pd.DataFrame({'Job Title':job_title,'Job Location':job_loc,
                             'Company Name':comp_name,
                             'Experience Required':experience_req})

In [134]:
data_df

,Job Title,Job Location,Company Name,Experience Required
0,Customer Data Analyst,Bangalore/Bengaluru,Oracle,1-4 Yrs
1,Business Data Analysts (People & Culture),Bangalore/Bengaluru,Zscaler Softech,5-6 Yrs
2,Senior Data Analyst - DC,Bangalore/Bengaluru,Boston Consulting Group,4-6 Yrs
3,Manager/Senior Manager - Data Analyst,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Huquo Consulting Pvt. Ltd,2-7 Yrs
4,Croma - Data Analyst - Mumbai / Bangalore,"Hybrid - Bangalore/Bengaluru, Mumbai",Croma,4-9 Yrs
5,Data Analyst- PYTHON+SCALA,Bangalore/Bengaluru,Capco,3-7 Yrs
6,Data Analyst-Pyspark,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",Capco,7-12 Yrs
7,Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad",Capco,6-11 Yrs
8,Translation - Data Analyst,Bangalore/Bengaluru,Avery Dennison,3-6 Yrs
9,Sr. Data Analyst,"Bangalore/Bengaluru, Chennai",Bizanalytica Solution Llp,4-9 Yrs

### Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [135]:
#1First get the webpage https://www.naukri.com/
driver.get("https://www.naukri.com")

In [136]:
#Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field
ds_designation=driver.find_element(By.CLASS_NAME,'suggestor-input ')
ds_designation.send_keys("Data Scientist")

location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

#3 Then click the searchbutton.
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [137]:
#Then scrape the data for the first 10 jobs results youget
job_titles=[]
job_location=[]
company_name=[]
experince_required=[]

In [138]:
title_tag=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tag[0:10]:
    title=i.text
    job_titles.append(title)

In [139]:
#job location
loc_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in loc_tags[0:10]:
    loc=i.text
    job_location.append(loc)

In [140]:
#company Name
comp_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in comp_tags[0:10]:
    company=i.text
    company_name.append(company)

In [141]:
#Experience 
exp_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp_tags[0:10]:
    experience=i.text
    experince_required.append(experience)

In [142]:
print(len(job_titles),len(job_location),len(company_name),len(experince_required))

10 10 10 10

In [143]:
#Finally create a dataframe of the scraped data.

data_scientist_df=pd.DataFrame({'Job Title':job_titles,'Job Location':job_location,
                             'Company Name':company_name,
                             'Experience Required':experince_required})

In [144]:
data_scientist_df

,Job Title,Job Location,Company Name,Experience Required
0,Data Scientist,"Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec...",Tech Mahindra,7-12 Yrs
1,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
3,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Birlasoft,8-12 Yrs
4,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Hyderabad...",Birlasoft,8-12 Yrs
5,Data Scientist Knowledge graph,"Hybrid - Bangalore/Bengaluru, Pune",Capco,7-12 Yrs
6,Data Scientist (Analyst),Bangalore/Bengaluru,Visa,3-6 Yrs
7,Supply Chain Specialist Staff,Bangalore/Bengaluru,Juniper Networks,7-11 Yrs
8,Opportunity For Data Scientist/Sr. Data Scient...,"Hybrid - Bangalore/Bengaluru, Gurgaon/Gurugram...",PayU,3-5 Yrs
9,Research Scientist,Bangalore/Bengaluru,Siemens,2-5 Yrs

### Q3: In this question you have to scrape data using the filters available on the webpage as shown below

In [130]:
#first get thewebpage https://www.naukri.com/
driver=webdriver.Chrome(r'chromedriver.exe')
driver.maximize_window()
driver.get('https://www.naukri.com/')

In [131]:
#Enter “Data Scientist” in “Skill, Designations, and Companies” field
ds_designation=driver.find_element(By.CLASS_NAME,'suggestor-input ')
ds_designation.send_keys("Data Scientist")

In [132]:
##3 Then click the searchbutton.
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [133]:
#4.Then apply the location filter and salary filter by checking the respective boxes
location_filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]')
location_filter.click()

In [134]:
salary_filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]')
salary_filter.click()

In [136]:
#5.Then scrape the data for the first 10 jobs results youget.
jobs=[]
locations=[]
companies=[]
experinces=[]

In [137]:
title_tag1=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tag1[0:10]:
    title=i.text
    jobs.append(title)

In [140]:
#job location
loc_tag1=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in loc_tag1[0:10]:
    loc=i.text
    locations.append(loc)

In [141]:
#company Name
com_tag1=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in com_tag1[0:10]:
    c=i.text
    companies.append(c)

In [142]:
#Experience 
exp_tag1=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp_tag1[0:10]:
    experience=i.text
    experinces.append(experience)

In [143]:
print(len(jobs),len(locations),len(companies),len(experinces))

10 10 10 10

In [144]:
#Finally create a dataframe of the scraped data.

filter_df=pd.DataFrame({'Job Title':jobs,'Job Location':locations,
                             'Company Name':companies,
                             'Experience Required':experinces})

In [145]:
filter_df

,Job Title,Job Location,Company Name,Experience Required
0,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
1,Data Scientist,Noida,Gujarat Fluorochemicals,1-2 Yrs
2,Data Scientist,"Delhi / NCR, Noida(Sector-136 Noida), Ghaziaba...",Extramarks Education,3-5 Yrs
3,AWS Data Warehouse Developer - IT Industry,"Delhi / NCR, Bangalore/Bengaluru, Maharashtra",GenNext India Private Limited,4-9 Yrs
4,Data Scientist,Permanent Remote,Vizlogic Digital Solutions,2-5 Yrs
5,Data Scientist,Noida,Metrix Research & Analytics,3-7 Yrs
6,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
7,Junior Data Scientist,Delhi / NCR,Skyleaf Consultants,2-4 Yrs
8,Modeler,Noida,Resource Access Management Solutions Pvt. Ltd.,3-7 Yrs
9,Associate Data Scientist,Noida,Navikenz India,3-8 Yrs

In [ ]:
driver.close()

### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
### 1. Brand       2. ProductDescription      3. Price

In [9]:
#1. Go to Flipkart webpage by url :https://www.flipkart.com/
driver=webdriver.Chrome(r'chromedriver.exe')
driver.maximize_window()
driver.get('https://www.flipkart.com/')

In [10]:
#Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
product=driver.find_element(By.CLASS_NAME,'_3704LK')
product.send_keys('sunglasses')

In [11]:
search=driver.find_element(By.CLASS_NAME,'_34RNph')
search.click()

In [6]:
#After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data asusual
brands=[]
product_descriptions=[]
price=[]
discount=[]

In [7]:
#After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.
start=0
end=3
for page in range(start,end):
    print("Scrapping page",page)
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        b=i.text
        brands.append(b)
     
    product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_tags:
        des=i.text
        product_descriptions.append(des) #len(product_descriptions) 
            
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
            prc=i.text
            price.append(prc)  
    discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in discount_tags:
            dis=i.text
            discount.append(dis)
    next_button=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click()   
    time.sleep(2)

Scrapping page 0
Scrapping page 1
Scrapping page 2

In [20]:
print(len(brands),len(product_descriptions),len(price),len(discount))

120 118 120 120

In [21]:
import pandas as pd
sunglasses_df=pd.DataFrame({'Sunglasses':brands[0:100],
                           'Product Description':product_descriptions[0:100],
                           'Price':price[0:100],
                           'Discount':discount[0:100]})

In [22]:
sunglasses_df

,Sunglasses,Product Description,Price,Discount
0,RESIST EYEWEAR,"Riding Glasses, UV Protection Retro Square Sun...","₹1,399",72% off
1,PC STAR,UV Protection Wayfarer Sunglasses (53),₹282,71% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹599,40% off
3,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹149,75% off
4,Elligator,UV Protection Rectangular Sunglasses (Free Size),₹129,87% off
...,...,...,...,...
95,SRPM,UV Protection Rectangular Sunglasses (52),₹179,86% off
96,kamra optical work,"Night Vision, UV Protection Round Sunglasses (54)",₹499,16% off
97,artrue,"UV Protection, Mirrored Wayfarer Sunglasses (54)",₹420,64% off
98,FUZOKU,UV Protection Rectangular Sunglasses (Free Size),₹499,70% off
99,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (Free Size),₹391,80% off

In [23]:
driver.close()

### Q5-Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART

In [24]:
driver=webdriver.Chrome(r'chromedriver.exe')
driver.maximize_window()
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')

### As shown in the above page you have to scrape the tick marked attributes. These are:
#### 1. Rating
#### 2. Review summary
#### 3. Full review
#### 4. You have to scrape this data for first 100review

In [33]:
ratings=[]
review_summary=[]
full_review=[]

In [34]:
start=0
end=10
for page in range(start,end):
    print("Scrapping Page",page)
    rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tag:
        rate=i.text
        ratings.append(rate)
    
     
    review_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_tag:
            rev=i.text
            review_summary.append(rev) 
            
    fr_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in fr_tag:
            ftag=i.text
            full_review.append(ftag)  
    
    next_button=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click()   
    time.sleep(2)

Scrapping Page 0
Scrapping Page 1
Scrapping Page 2
Scrapping Page 3
Scrapping Page 4
Scrapping Page 5
Scrapping Page 6
Scrapping Page 7
Scrapping Page 8
Scrapping Page 9

In [35]:
print(len(ratings),len(review_summary),len(full_review))

100 100 100

In [36]:
iphone_review_df=pd.DataFrame({'Ratings':ratings,'Review Summary':review_summary,
                               'Full Review':full_review})

In [37]:
iphone_review_df

,Ratings,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,4,Good choice,So far it’s been an AMAZING experience coming ...
96,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
97,5,Perfect product!,It is just awesome mobile for this price from ...
98,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
99,5,Highly recommended,"Amazing camera quality as expected, battery al..."

In [ ]:
driver.close()

### Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field
#### You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes.

In [38]:
driver=webdriver.Chrome(r'chromedriver.exe')
driver.maximize_window()
driver.get('https://www.flipkart.com/')

In [39]:
product=driver.find_element(By.CLASS_NAME,'_3704LK')
product.send_keys('sneakers')

In [40]:
search=driver.find_element(By.CLASS_NAME,'_34RNph')
search.click()

In [41]:
sneakers=[]
sneaker_product_description=[]
sneaker_price=[]

In [42]:
start=0
end=3
for page in range(start,end):
    print("Scraping page",page)
    snekaers_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in snekaers_tag:
        b=i.text
        sneakers.append(b)
     
    description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description_tags:
            des=i.text
            sneaker_product_description.append(des) 
            
    price_tag1=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tag1:
            prc=i.text
            sneaker_price.append(prc)  
    
    next_button=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click()   
    time.sleep(4)

In [43]:
print(len(sneakers),len(sneaker_product_description),len(sneaker_price))

120 114 120

In [44]:
sneakers_df=pd.DataFrame({'Snekaers':sneakers[0:100],
                         'Product Description':sneaker_product_description[0:100],
                         'Price':sneaker_price[0:100]})

sneakers_df

,Snekaers,Product Description,Price
0,BRUTON,2 Combo Sneaker Shoes Sneakers For Men,₹599
1,World Wear Footwear,Exclusive Affordable Collection of Trendy & St...,₹649
2,World Wear Footwear,5011-Latest Collection Stylish & Trendy Casual...,₹399
3,aadi,Synthetic Leather |Lightweight|Comfort|Summer|...,₹434
4,ADIDAS,STREET ICON M Sneakers For Men,"₹1,943"
...,...,...,...
95,BRUTON,Sneakers For Women,₹599
96,HRX by Hrithik Roshan,2 Combo Sneaker Shoes Sneakers For Men,"₹1,047"
97,Kraasa,Sneakers For Women,₹499
98,Kraasa,Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...,₹299
99,BRUTON,Sneakers For Men,₹599

In [ ]:
driver.close()

###  Q7-Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then 
set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [145]:
driver=webdriver.Chrome(r'chromedriver.exe')
driver.maximize_window()
driver.get('https://www.amazon.in/')

In [146]:
product=driver.find_element(By.ID,'twotabsearchtextbox')
product.send_keys('Laptop')

In [147]:
search=driver.find_element(By.ID,'nav-search-submit-button')
search.click()

In [148]:
chck=driver.find_element(By.XPATH,'//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div/label/i')
chck.click()

In [149]:
laptop_title=[]
laptop_rating=[]
laptop_price=[]

In [ ]:
#title
laptop_tag=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in laptop_tag:
    title=i.text
    laptop_title.append(title)

In [ ]:
#price
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags:
    p=i.text
    laptop_price.append(p)

In [199]:
rating=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]/span')

for i in rating:
    i=rating[0].get_attribute('aria-label')
    laptop_rating.append(i)

In [ ]:
laptop_rating

In [155]:
print(len(laptop_title),len(laptop_price))

30 38

In [153]:
laptop_df=pd.DataFrame({'Title':laptop_title[:10],
                       'Price':laptop_price[:10]})

In [154]:
laptop_df

                                               Title     Price
0  Fujitsu UH-X 11th Gen Intel Core i7 13.3" FHD ...    94,990
1  LG Gram14 Intel EVO-[12th Gen Corei7/Win11/16G...    84,500
2  ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...    56,990
3  Acer Nitro 5 Gaming Laptop Intel core i7 11th ...    78,106
4  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...    79,990
5  HP Victus Gaming Latest 12th Gen Intel Core i7...    84,990
6  Lenovo IdeaPad Gaming 3 Intel Core i7-12700H 1...    99,990
7  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    94,630
8  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...  1,02,490
9  ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms...  1,44,990

In [ ]:
driver.close()

### Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes

In [124]:
driver=webdriver.Chrome(r'chromedriver.exe')
driver.maximize_window()
driver.get('https://www.azquotes.com/')

In [125]:
top=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top.click()

In [126]:
quotes=[]
authors=[]
type_quote=[]

In [127]:
for page in range(10):
    print('scraping page',page)
    quote_tag=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tag:
        quotes.append(i.text)
    
    autors_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in autors_tags:
        authors.append(i.text)   
    
    type_tag=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type_tag:
        type_quote.append(i.text)
    
      
    next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[3]/a')
    next_button.click()   
    time.sleep(2)

scraping page 0
scraping page 1
scraping page 2
scraping page 3
scraping page 4
scraping page 5
scraping page 6
scraping page 7
scraping page 8
scraping page 9

In [129]:
print(len(quotes),len(authors),len(type_quote))

1000 1000 1000

In [130]:
quotes_df=pd.DataFrame({'Quote':quotes,
                       'Author':authors,
                       'Type of quote':type_quote})

In [131]:
quotes_df.head()

,Quote,Author,Type of quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"

In [132]:
quotes_df.shape

(1000, 3)

In [ ]:
driver.close()

###  Q9-Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, 
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
#4. Then scrap the mentioned data and make theDataFrame

In [133]:
#First get the webpagehttps://www.jagranjosh.com/
driver=webdriver.Chrome(r'chromedriver.exe')
driver.maximize_window()
driver.get("https://www.jagranjosh.com/")

In [134]:
#Then You have to click on the GK option
gk=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')

gk.click()

In [135]:
#then click on the List of all Prime Ministers of India
pm_link=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
pm_link.click()

In [136]:
cls=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[4]/span/div[2]/table/tbody/tr/th')
#getting no of rows
r=driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[4]/span/div[2]/table/tbody/tr')

In [138]:
pm_name=[]
born_dead=[]
term_office=[]
term_total=[]
remarks=[]

In [ ]:
#Prime Minister Name
for i in r[1:20]:
    name=i.text.split('\n')
    #print(name)
    pm_name.append(name[1])
    born_dead.append(name[2])
    term_office.append(name[3])
    term_total.append(name[4])
    remarks.append(name[5])

In [140]:
print(len(pm_name),len(born_dead),len(term_office),len(term_total),len(remarks))

18 18 18 18 17

In [143]:
pm_df1=pd.DataFrame({'Prime Minister':pm_name,
                   'Born-Dead':born_dead,
                    'Term of office':term_office,
                     'Total Term in years':term_total
                    })
pm_df2=pd.DataFrame({'Remarks':remarks})

pm_df=pd.concat([pm_df1,pm_df2],axis=1)
pm_df.head()

,Prime Minister,Born-Dead,Term of office,Total Term in years,Remarks
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,"16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,",13 days,First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),9 June 1964 to 11 January 1966,"1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966,13 days,-
4,Indira Gandhi,(1917–1984),24 January 1966 to 24 March 1977,"11 years, 59 days",First female Prime Minister of India

In [201]:
pm_df.shape

(18, 5)

In [202]:
driver.close()