## Web Scrapping Assignment 4

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException

### Q1- Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
driver=webdriver.Chrome(r'chromedriver.exe')
driver.maximize_window()

In [3]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
time.sleep(5)

In [6]:
#making empty list
rank=[]
name=[]
artist=[]
upload_date=[]
views=[]

In [7]:
try:#getting rank 
    details=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr/td[1]')
    for i in details:
        rank.append(i.text)
except:
    rank.append('error')
try:#getting name 
    details=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr/td[2]')
    for i in details:
        name.append(i.text.split("[")[0])
except:
    name.append('error')
try:#getting artist 
    details=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr/td[3]')
    for i in details:
        artist.append(i.text.split("[")[0])
except:
    artist.append('error')

#getting views
try:# 
    details=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr/td[4]')
    for i in details:
        views.append(i.text.split("[")[0])
except:
    views.append('error')

#getting upload dates
try:# 
    details=driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/main/div[2]/div[3]/div[1]/table[2]/tbody/tr/td[5]')
    for i in details:
        upload_date.append(i.text.split("[")[0])
except:
    upload_date.append('error')

In [24]:
print("Rank length:",len(rank))
print("Name length:",len(name))
print("Artist name Length:",len(artist))
print("Views length:",len(views))
print("Length of uploading date:",len(upload_date))

Rank length: 30
Name length: 30
Artist name Length: 30
Views length: 30
Length of uploading date: 30

In [25]:
#making dataframe
video_df=pd.DataFrame({})
video_df['Rank']=rank
video_df['Name of the Video']=name
video_df['Artist Name']=artist
video_df['Views in Billions']=views
video_df['uploaded Date']=upload_date

In [26]:
video_df.to_csv('famous_youtubev_ideos.csv') #saving into dataframe

In [29]:
video_df

,Rank,Name of the Video,Artist Name,Views in Billions,uploaded Date
0,1.,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,12.13,"June 17, 2016"
1,2.,"""Despacito""",Luis Fonsi,8.07,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids,6.59,"October 8, 2016"
3,4.,"""Bath Song""",Cocomelon – Nursery Rhymes,5.96,"May 2, 2018"
4,5.,"""Shape of You""",Ed Sheeran,5.89,"January 30, 2017"
5,6.,"""See You Again""",Wiz Khalifa,5.76,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""",ChuChu TV,5.12,"March 6, 2014"
7,8.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,4.84,"May 24, 2018"
8,9.,"""Uptown Funk""",Mark Ronson,4.80,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,4.79,"February 27, 2018"
10,11.,"""Gangnam Style""",Psy,4.66,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,4.52,"January 31, 2012"
12,13.,"""Dame Tu Cosita""",El Chombo,4.21,"April 5, 2018"
13,14.,"""Sugar""",Maroon 5,3.81,"January 14, 2015"
14,15.,"""Roar""",Katy Perry,3.72,"September 5, 2013"
15,16.,"""Counting Stars""",OneRepublic,3.71,"May 31, 2013"
16,17.,"""Axel F""",Crazy Frog,3.71,"June 16, 2009"
17,18.,"""Sorry""",Justin Bieber,3.62,"October 22, 2015"
18,19.,"""Thinking Out Loud""",Ed Sheeran,3.54,"October 7, 2014"
19,20.,"""Baa Baa Black Sheep""",Cocomelon – Nursery Rhymes,3.48,"June 25, 2018"
20,21.,"""Waka Waka (This Time for Africa)""",Shakira,3.44,"June 4, 2010"
21,22.,"""Dark Horse""",Katy Perry,3.43,"February 20, 2014"
22,23.,"""Faded""",Alan Walker,3.39,"December 3, 2015"
23,24.,"""Let Her Go""",Passenger,3.37,"July 25, 2012"
24,25.,"""Girls Like You""",Maroon 5,3.36,"May 31, 2018"
25,26.,"""Perfect""",Ed Sheeran,3.35,"November 9, 2017"
26,27.,"""Bailando""",Enrique Iglesias,3.32,"April 11, 2014"
27,28.,"""Lean On""",Major Lazer,3.32,"March 22, 2015"
28,29.,"""Humpty the train on a fruits ride""",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.29,"January 26, 2018"
29,30.,"""Lakdi Ki Kathi""",Jingle Toons,3.26,"June 14, 2018"

In [30]:
driver.close()

### Q2-Scrape the details team India’s internationalfixtures from bcci.tv. 
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time

In [31]:
driver=webdriver.Chrome(r'chromedriver.exe')
driver.maximize_window()

In [40]:
driver.get('https://www.bcci.tv/')
time.sleep(5)

In [41]:
#landing on international fixture page
international=driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
international.click()

In [42]:
title=[] #making empty lists
series=[]
place=[]
date=[]
time_data=[]

In [44]:
#clicking on more fixture button to get more data
fixture_button=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button')
fixture_button.click()

In [55]:
#for title
try:
    title_tag=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
    for i in title_tag:
        title.append(i.text.split('-')[0])
except:
    title.append("-")

try:#for series

    series_tag=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
    for i in series_tag:
        series.append(i.text)
except:
    series.append("-")

#for place

try:
    place_tag=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
    for i in place_tag:
        place.append(i.text)
except:
    place.append("-")

#for date

try:
    date_tag=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
    for i in date_tag:
        date.append(i.text.split('-')[0])
except:
    date.append("-")

    
#for time
try:
    time_tag=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
    for i in time_tag:
        time_data.append(i.text.split('-')[0])
except:
    time_data.append("-")

In [72]:
print(len(title),len(series),len(place),len(date),len(time_data))

13 13 13 13 13

In [75]:
#making dataframe
bcci_df=pd.DataFrame({'Title':title,
                     'Match Series':series,
                     'Place':place,
                     'Date':date,
                     'Time':time_data})


bcci_df.to_csv('bcci.csv')

In [76]:
bcci_df

,Title,Match Series,Place,Date,Time
0,3rd T20I,NEW ZEALAND TOUR OF INDIA T20 SERIES 2022,"Narendra Modi Stadium,",1 FEB 2023,7:00 PM IST
1,5th T20I,WOMENS T20I TRI,"Buffalo Park,",2 FEB 2023,6:30 PM IST
2,1st Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022,"Vidarbha Cricket Association Stadium,",9 FEB 2023,9:30 AM IST
3,1st T20I,ICC WOMENS T20 WORLD CUP 2023,"Newlands,",12 FEB 2023,6:30 PM IST
4,2nd T20I,ICC WOMENS T20 WORLD CUP 2023,"Newlands,",15 FEB 2023,6:30 PM IST
5,2nd Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022,"Arun Jaitley Stadium,",17 FEB 2023,9:30 AM IST
6,3rd T20I,ICC WOMENS T20 WORLD CUP 2023,"St George's Park,",18 FEB 2023,6:30 PM IST
7,4th T20I,ICC WOMENS T20 WORLD CUP 2023,"St George's Park,",20 FEB 2023,6:30 PM IST
8,3rd Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022,"Himachal Pradesh Cricket Association Stadium,",1 MAR 2023,9:30 AM IST
9,4th Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022,"Narendra Modi Stadium,",9 MAR 2023,9:30 AM IST
10,1st ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022,"Wankhede Stadium,",17 MAR 2023,1:30 PM IST
11,2nd ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022,Dr YS Rajasekhara Reddy ACA,19 MAR 2023,1:30 PM IST
12,3rd ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022,"MA Chidambaram Stadium,",22 MAR 2023,1:30 PM IST

In [77]:
driver.close()

### Q3-Scrape the details of State-wise GDP ofIndia fromstatisticstime.com. 
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)

In [126]:
driver=webdriver.Chrome(r'chromedriver.exe')
driver.maximize_window()

In [111]:
driver.get('https://statisticstimes.com/')
time.sleep(5)

In [112]:
#landing on economy page
try:
    economy=driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/div/a[3]')
    link=economy.get_attribute('href')
    driver.get(link)

except:
    print("not intrcatable")

In [113]:
try:
    #clicking on gdp of indian states
    gdp=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
    gdp_link=gdp.get_attribute('href')
    driver.get(gdp_link)
    time.sleep(5)
except:
    print('not found')

In [118]:
rank=[]
state=[]
gsdp_1819=[]
gsdp_1920=[]
share=[]
gdp=[]

In [119]:
#for rank
try:
    ranks=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[1]')
    for i in ranks:
        rank.append(i.text)
except:
    rank.append("-")

#for state 
try:
    states=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[2]')
    for i in states:
        state.append(i.text)
except:
    state.append("-")

#for gsdp-1819
try:
    gdsp_tag1=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[4]')
    for i in gdsp_tag1:
        gsdp_1819.append(i.text)
except:
    gsdp_1819.append("-")
#gdsp_1819.insert(32,"-")

#for gdsp-1920
try:
    gdsp_tag2=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[3]')
    for i in gdsp_tag2:
        gsdp_1920.append(i.text)
except:
    gsdp_1920.append("-")


try: #for share
    share_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[5]')
    for i in share_tag:
        share.append(i.text)
except:
    share.append("-")
    
#for gdp
try: 
    gdp_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[6]')
    for i in gdp_tag:
        gdp.append(i.text)
except:
    gdp.append("-")

In [120]:
print(len(rank),len(state),len(gsdp_1920),len(gsdp_1819),len(share),len(gdp))

33 33 33 33 33 33

In [123]:
gdp_state=pd.DataFrame({'Rank':rank,
                       'State':state,
                       'GSDP-1819':gsdp_1819,
                       'GSDP-1920':gsdp_1920,
                       'Share(18-19)':share,
                       'GDP($billion)':gdp})
gdp_state.to_csv('gdpstate.csv')

In [124]:
gdp_state

,Rank,State,GSDP-1819,GSDP-1920,Share(18-19),GDP($billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [127]:
driver.close()

### Q4-Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [16]:
driver=webdriver.Chrome(r'chromedriver.exe')
driver.maximize_window()

In [49]:
driver.get('https://github.com/')
time.sleep(3)

In [50]:
#landing on trending page b slecting opensource.
open_source=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
open_source.click()

trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
link=trending.get_attribute('href')
driver.get(link)
time.sleep(5)

In [51]:
repository=[]
repos_link=[]
description=[]
counts=[]
language=[]

In [52]:
#.for repository name
try:
    name_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article/h1/a')
    for i in name_tag:
        repository.append(i.text)
        
except:
    repository.append("-")

#for link of each repository
try:
    name_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article/h1/a')
    for i in name_tag:
        repos_link.append(i.get_attribute('href'))
except NoSuchElementException:
    repos_link.append("-")

In [55]:
for link in repos_link:
    driver.get(link)
    time.sleep(5)
    try: #for description
        descriptions=driver.find_element(By.XPATH,'//div[@class="BorderGrid-row hide-sm hide-md"]/div[1]/p')
        description.append(descriptions.text)
    except NoSuchElementException:
        description.append("-")
    
    try: #for language
        language_tags=driver.find_element(By.XPATH,'//li[@class="d-inline"]/a/span')
        language.append(language_tags.text)
    except NoSuchElementException:
        language.append("-")
    
    try: #contributers count
        contributers=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[5]/div/h2/a/span')
        counts.append(contributers.text)
    except NoSuchElementException:
        counts.append("-")

In [56]:
print("Repository Name column length:",len(repository))
print("Length of Repository Links:",len(repos_link))
print("Description column length:",len(description))
print("Language column length:",len(language))
print("Contributers Count column length:",len(counts))

Repository Name column length: 25
Length of Repository Links: 25
Description column length: 25
Language column length: 25
Contributers Count column length: 25

In [57]:
#making dataframe
github_df=pd.DataFrame({'Repository':repository,
                       'Description':description,
                       'Contributorscount':counts,
                       'Language':language})
github_df.to_csv('github.csv') #saving into csv

In [58]:
github_df

,Repository,Description,Contributorscount,Language
0,snesrev / zelda3,-,19,C
1,transitive-bullshit / chatgpt-api,Node.js client for the unofficial ChatGPT API. 🔥,5.5k,TypeScript
2,microsoft / PowerToys,Windows system utilities to maximize productivity,-,C#
3,microsoft / winget-cli,Windows Package Manager CLI (aka winget),83,C++
4,bnb-chain / greenfield-whitepaper,"Whitepaper for Greenfield, the decentralized d...",6,-
5,krahets / hello-algo,"《Hello 算法》一本动画图解、能运行、可提问的数据结构与算法入门书，支持 Java, C...",-,Java
6,damus-io / damus,iOS nostr client,44,Swift
7,techiescamp / kubernetes-learning-path,A roadmap to learn Kubernetes from scratch (Be...,4,-
8,iperov / DeepFaceLive,Real-time face swap for PC streaming or video ...,7,Python
9,microsoft / BioGPT,-,6,Python
10,varunshenoy / GraphGPT,Extrapolating knowledge graphs from unstructur...,-,JavaScript
11,apitable / apitable,"🚀🎉📚 APITable, an API-oriented low-code platfor...",-,TypeScript
12,golang / go,The Go programming language,"1,923",Go
13,karpathy / nanoGPT,"The simplest, fastest repository for training/...",11,Jupyter Notebook
14,wangrongding / wechat-bot,🤖一个基于OpenAi ChatGPT + WeChaty 实现的微信机器人 ，可以用来帮助...,5,JavaScript
15,mtdvio / every-programmer-should-know,A collection of (mostly) technical things ever...,-,-
16,studio-freight / lenis,How smooth scroll should be,-,JavaScript
17,archinetai / audio-ai-timeline,A timeline of the latest AI models for audio g...,3,-
18,triggerdotdev / trigger.dev,✨ Trigger.dev is an open-source platform that ...,-,TypeScript
19,nostr-protocol / nostr,a truly censorship-resistant alternative to Tw...,-,-
20,waylaidwanderer / node-chatgpt-api,A ChatGPT implementation using the official Ch...,4,JavaScript
21,acheong08 / ChatGPT,Reverse engineered ChatGPT API. Uses official ...,49,Python
22,dair-ai / Prompt-Engineering-Guide,🐙 Guide and resources for prompt engineering,-,-
23,ossu / computer-science,🎓 Path to a free self-taught education in Comp...,-,-
24,GitHubDaily / GitHubDaily,坚持分享 GitHub 上高质量、有趣实用的开源技术教程、开发者工具、编程网站、技术资讯。A...,3,-

In [59]:
driver.close()

### Q5- Scrape the details of top 100 songs on billiboard.com. 
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [128]:
driver=webdriver.Chrome(r'chromedriver.exe')
driver.maximize_window()

In [129]:
driver.get('https://www.billboard.com/')
time.sleep(5)

In [130]:
#landing on charts page
try:
    chart_tag=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
    link=chart_tag.get_attribute('href')
    driver.get(link)
    time.sleep(5)
    
    
except:
    print("Page not found or not clickable")

In [131]:
try:
    top_chart=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a')
    top_link=top_chart.get_attribute('href')
    driver.get(top_link)
    time.sleep(5)
    
except:
    print("not valid xpath")

In [132]:
#empty list
song=[]
artist=[]
lw_rank=[]
peak_rank=[]
wob=[]

In [137]:
#song name scrapping
try:
    song_tag=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
    for i in song_tag:
        song.append(i.text)
except:
    song.append("-")
    
try: #for artist
    arts_tag=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[1]')
    for i in arts_tag:
        artist.append(i.text.split("\n")[1])
        #song.append(i.text)
except:
    artist.append("-")
    
try: #for lastweek rank
    rank_tag=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]/span')
    for i in rank_tag:
        lw_rank.append(i.text)
except:
     lw_rank.append("-")

try: #for peak rank
    pkrank_tag=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]/span')
    for i in pkrank_tag:
        peak_rank.append(i.text)
        
except:
    peak_rank.append("-")

try: #for peak rank
    wob_tag=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]')
    for i in wob_tag:
        wob.append(i.text)
        
except:
    wob.append("-")

In [185]:
print(len(song),len(artist),len(peak_rank),len(lw_rank),len(wob))

100 100 100 100 100

In [186]:
#making dataframe
billboard_df=pd.DataFrame({'Song':song,
                          'Artist':artist,
                          'Lastweek Rank':lw_rank,
                          'Peak Rank':peak_rank,
                          'Weeks on Board':wob})
billboard_df.to_csv('Billborad 100.csv')#saving into csv

In [187]:
billboard_df

,Song,Artist,Lastweek Rank,Peak Rank,Weeks on Board
0,Flowers,Miley Cyrus,1,1,2
1,Kill Bill,SZA,2,2,7
2,Anti-Hero,Taylor Swift,3,1,14
3,Creepin',"Metro Boomin, The Weeknd & 21 Savage",4,4,8
4,Unholy,Sam Smith & Kim Petras,5,1,18
...,...,...,...,...,...
95,Do It Again,NLE Choppa & 2Rare,-,96,1
96,Miss You,Oliver Tree & Robin Schulz,96,84,9
97,Back End,Finesse2Tymes,-,98,1
98,Open Arms,SZA Featuring Travis Scott,89,54,6
99,Spit In My Face!,ThxSoMch,-,100,1

In [188]:
driver.close()

### Q6-Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare


You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [54]:
driver=webdriver.Chrome(r'chromedriver.exe')
driver.maximize_window()

In [55]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
time.sleep(3)

In [56]:
#making empty list
name=[]
authors=[]
volume_sold=[]
publisher=[]
genre=[]

In [57]:
#for name
try:
    name_tag=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]')
    for i in name_tag:
        name.append(i.text)
        
except:
     name.append("-")
#for authors
try:
    authors_tag=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]')
    for i in authors_tag:
        authors.append(i.text)
        
except:
     authors.append("-")
#for volume sold
try:
    sales_tag=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]')
    for i in sales_tag:
        volume_sold.append(i.text)
        
except:
     volume_sold.append("-")

# for publisher

try:
    publisher_tag=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]')
    for i in publisher_tag:
        publisher.append(i.text)
        
except:
     publisher.append("-")

#for genre
try:
    genre_tag=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]')
    for i in genre_tag:
        genre.append(i.text)
        
except:
     genre.append("-")        
        
print("Length of Name column",len(name))
print("Length of Authors column",len(authors))
print("Length of Volume sold column",len(volume_sold))
print("length of Publiser column",len(publisher))
print("length of Genre column",len(genre))

Length of Name column 100
Length of Authors column 100
Length of Volume sold column 100
length of Publiser column 100
length of Genre column 100

In [20]:
#making dataframe
novels_df=pd.DataFrame({'Novel Name':name,
                       'Author':authors,
                       'Volume Sold':volume_sold,
                       'Publsher':publisher,
                       'Genre':genre})

In [22]:
novels_df.to_csv('Novels.csv') #saving into csv file
novels_df

,Novel Name,Author,Volume Sold,Publsher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [58]:
driver.close()

### Q7- Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/


You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Rating

In [24]:
driver=webdriver.Chrome(r'chromedriver.exe')
driver.maximize_window()

In [25]:
driver.get('https://www.imdb.com/list/ls095964455/')
time.sleep(3)

In [48]:
#list creation
name=[]
span_year=[]
genres=[]
run_time=[]
rating=[]

In [49]:
#getting name details 
try:
    name_tag=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
    for i in name_tag:
        name.append(i.text)
        
except:
     name.append("-")
        
#span year
try:
    year_tag=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
    for i in year_tag:
        span_year.append(i.text)
        
except:
     span_year.append("-")

#genres 
try:
    genre_tag=driver.find_elements(By.XPATH,'//span[@class="genre"]')
    for i in genre_tag:
        genres.append(i.text)
        
except:
     genres.append("-")

#for run time
try:
    time_tag=driver.find_elements(By.XPATH,'//span[@class="genre"]')
    for i in time_tag:
        run_time.append(i.text)
        
except:
     run_time.append("-")        

#rating
try:
    rating_tag=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]/span[2]')
    for i in rating_tag:
        rating.append(i.text)
        
except:
    rating.append("-") 
print("Name column length:",len(name))
print("Span Year column length :",len(span_year))
print("Genres column length :",len( genres))
print("Runtime column length :",len(run_time))
print("Rating column length:",len(rating))

Name column length: 100
Span Year column length : 100
Genres column length : 100
Runtime column length : 100
Rating column length: 100

In [50]:
#Making dataframe
tv_serial=pd.DataFrame({'Name':name,
                       'Span Year':span_year,
                       'Genre':genres,
                       'Runtime':run_time,
                       'Rating':rating})

In [52]:
tv_serial.to_csv('tvserial.csv')
tv_serial

,Name,Span Year,Genre,Runtime,Rating
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama","Action, Adventure, Drama",9.2
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror","Drama, Fantasy, Horror",8.7
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller","Drama, Horror, Thriller",8.1
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller","Drama, Mystery, Thriller",7.5
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi","Drama, Mystery, Sci-Fi",7.6
...,...,...,...,...,...
95,Reign,(2013–2017),Drama,Drama,7.4
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama","Adventure, Comedy, Drama",7.8
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery","Crime, Drama, Mystery",8.1
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama","Comedy, Crime, Drama",7.1
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery","Drama, Horror, Mystery",8.6

In [53]:
driver.close()

### Q8-Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [59]:
driver=webdriver.Chrome(r'chromedriver.exe')
driver.maximize_window()

In [60]:
driver.get('https://archive.ics.uci.edu/ml/index.php')
time.sleep(3)

In [61]:
#landing on view all dataset page
page=driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]/a')
link=page.get_attribute('href')
driver.get(link)
time.sleep(3)

In [102]:
dsname=[]
dtype=[]
task=[]
attributes=[]
instances=[]
no_of_attribute=[]
year=[]

In [103]:
try:#for dataset name
    ds=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]')
    for i in ds:
        dsname.append(i.text.split("\n")[0])
        
except:
    dsname.append("-")

try:#for dataset type
    ds=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
    for i in ds:
        dtype.append(i.text)
        
except:
    dtype.append("-")    

try:#for task
    ds=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
    for i in ds:
        task.append(i.text)       
        
except:
    task.append("-")   
    
try:#for attributes
    attri_tag=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
    for i in attri_tag:
        attributes.append(i.text)
except:
    attributes.append("-")   


#for instances

try:
    instances_tag=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
    for i in instances_tag:
        instances.append(i.text)
except:
    instances.append("-")  
    
try:#for no_of_attribute
    attributes=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
    for i in attributes:
        no_of_attribute.append(i.text)       
        
except:
    no_of_attribute.append("-")     
    
try:#for year
    yeartag=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')
    for i in yeartag:
        year.append(i.text)       
        
except:
    year.append("-")    

print("length of Dataset name columns:",len(dsname))
print("length of Dataset type columns:",len(dtype))
print("length of Task columns:",len(task))
print("length of Attributes columns:",len(attributes))
print("length of Insatnce columns:",len(instances))
print("length of No of Attribtutes columns:",len(no_of_attribute))
print("length of Year columns:",len(year))

length of Dataset name columns: 623
length of Dataset type columns: 623
length of Task columns: 623
length of Attributes columns: 623
length of Insatnce columns: 623
length of No of Attribtutes columns: 623
length of Year columns: 623

In [114]:
#making dataframe
datasaet_df=pd.DataFrame({'Dataset Name':dsname[1:],'DataType':dtype[1:],
                         'Deafult Task':task[1:],'Attribute Types':attributes[1:],
                         'No of Instances':instances[1:],'No of Attributes':no_of_attribute[1:],
                         'Year':year[1:]})

In [115]:
datasaet_df.to_csv('datasetrepository.csv')
datasaet_df

,Dataset Name,DataType,Deafult Task,Attribute Types,No of Instances,No of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twit...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mo...,Univariate,Regression,Real,4000,2,2021

In [116]:
driver.close()